html{
	font-family: helvetica;
	color: #7b0bab;
}
body{
	
	width: 90%;
	height:100%;
	margin-left:50px;
	margin-right:50px;
}


header{
	background: #3e0475;
	width: 100%;
	display: inline-flex;
	align-items: center;
	
}
header nav ul{
	width: 70%;
}
header ul{
	width: 18%;
}
header ul h5,h6{
	margin-top:0px;
	margin-bottom: 0px;
	color: #eedff2;
}
header img{
	height: 45px;
	width: 45px;
	margin: 15px;
	border-radius: 50%;
}
nav{
	width: 70%;
}



body ul{
	padding: 0px;
}
nav ul li{
	display: inline;
	
	margin-left: 3%;
	margin-right: 3%;
}

nav ul li a{
	text-decoration: none;
	color: #f1bdff;
}
header nav{
	text-align: center;
}
body h3{
	background: #ec6ec72e;
	margin:0px;
	text-align: center;
}



main{
	background:#ec6ec72e;
	padding: 1% auto;
	justify-content: center;
}
body main img{
	height: 35px;
	margin:5px;
	border-radius: 100%;
	
}
body main{
	overflow: hidden;
}
body main ul{
	text-align: center;
}
body main ul li{
	background: #e9e3e3fc;
	display: inline-block;
	width: auto;
	margin:1px 5px 1px 5px;
	border:solid 2px #9c27b075;
}
body main ul li h6{
	color: grey;
	margin: 0px;
	width: 20%;
}
body main ul li h5{
	color: black;
	margin: 0px;
	width: auto;
}
main ul{
	padding-top: 10px;
	padding-bottom: 20px;
}
h5 li{
	text-decoration: none;
}



footer{
	background: #41037d;
	text-align: center;	
}
footer main{
	background: #41037d;
}
footer main li,a{
	text-align: justify;
	display:inline-block;
	color: #f1bdff;
}
footer main li h6{
	margin: 5px;
	text-align: justify;
}
footer main li{
	margin-right: 120px;
	margin-left: 120px;
}
footer nav{
	width: 100%

}
footer nav h5,h6{
	margin-top:1px;
	margin-bottom:0px;
	color: #f1bdff;
}


li div, h5{
	display: inline-block;
}
main ul li section h5{
	margin-right:30px;
	margin-left:30px;
	color: black;
	margin-top: 10px;
	margin-bottom:10px;
}
li h4{
	display: inline-block;
}
main ul li section h4{
	margin-right:30px;
	margin-left:30px;
	margin-bottom:10px;
	margin-top: 10px;
}